<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello SquarePhoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="viewport">
  <div class="sq-phx-grid-main">
        <!--Navbar need logo-->
        <div class="sq-phx-grid-navbar sq-background-grey"> 

        </div>

        <!--Sidebar for links-->
        <div>
            <div class="sq-phx-grid-sidebar">
                <div class="sq-flex-container-middle sq-flex-direction sq-background-lightgrey">
                    <a href="#" class="air">Link 1</a>
                    <a href="#" class="air">Link 2</a>

                </div>
                
            </div>
        </div>

        <!--Middle area add content-->
        <div class="sq-phx-grid-middle">
            <div class="sq-flex-container-middle sq-flex-direction">
                <%= render @view_module, @view_template, assigns %>
                <!--Add something visually if possible-->
                <!--add kode at the end-->

            </div>

        </div>
        <!--Dropdown here-->
        <div class="sq-phx-grid-dropsite black">

        </div>
    </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
