<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello SquarePhoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="viewport">
  <div class="sq-phx-grid-main">
        <!--Navbar need logo-->
        <div class="sq-phx-grid-navbar sq-background-grey">

        </div>

        <!--Sidebar for links-->
        <div>
            <div class="sq-phx-grid-sidebar">
                <div class="sq-flex-container-middle sq-flex-direction sq-background-lightgrey">
					<a href="./alignitems" class="sq-air-x-10">Align items</a>
					<a href="./borderanimation" class="sq-air-x-10">Border animation</a>
                    <a href="./chartist" class="sq-air-x-10">Chartist</a>
                    <a href="./collapsible" class="sq-air-x-10">Collapsible</a>
					<a href="./theme_default" class="sq-air-x-10">Theme_Default</a>
					<a href="./createuser" class="sq-air-x-10">Create user</a>
					<a href="./forms" class="sq-air-x-10">Forms</a>
					<a href="./justifycontent" class="sq-air-x-10">Justify content</a>
					<a href="./layouts" class="sq-air-x-10">Layouts</a>
					<a href="./modal" class="sq-air-x-10">Modal</a>
					<a href="./navdropdown" class="sq-air-x-10">Navbar dropdown</a>
					<a href="./progressbar" class="sq-air-x-10">Progress Bar</a>
					<a href="./radiobuttons" class="sq-air-x-10">Radiobuttons</a>
					<a href="./shadows" class="sq-air-x-10">Shadows</a>
					<a href="./table" class="sq-air-x-10">Table</a>
					<a href="./typography" class="sq-air-x-10">Typography</a>
					<a href="./utility" class="sq-air-x-10">Utility</a>
					<a href="./animation" class="sq-air-x-10">Animation</a>


                </div>

            </div>
        </div>

        <!--Middle area add content-->
        <div class="sq-phx-grid-middle">
            <div class="sq-flex-container-middle sq-flex-direction sq-air-x-10">
                <%= render @view_module, @view_template, assigns %>
                <!--Add something visually if possible-->
                <!--add kode at the end-->

            </div>

        </div>
        <!--Dropdown here-->
        <div class="sq-phx-grid-dropsite black">

        </div>
    </div>

<!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
